bin/
obj/
.vs/
.vscode/

*.user
*.suo
*.cache
*.log
ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/wwwroot/uploads/
/ITIGraduationProject.Api/wwwroot/images/
/ITIGraduationProject.Api/wwwroot/GraphicAssets/
/ITIGraduationProject.Api/wwwroot/DesignSnapshots/