bin/
obj/
.vs/
.vscode/

*.user
*.suo
*.cache
*.log
ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
ITIGraduationProject\ITIGraduationProject.Api\wwwroot\uploads\templates\