bin/
obj/
.vs/
.vscode/

*.user
*.suo
*.cache
*.log
ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
/ITIGraduationProject.Api/appsettings.json
ITIGraduationProject\ITIGraduationProject.Api\wwwroot\uploads\templates\
ITIGraduationProject\ITIGraduationProject.Api\wwwroot\uploads\
ITIGraduationProject\ITIGraduationProject.Api\wwwroot\images\
ITIGraduationProject\ITIGraduationProject.Api\wwwroot\GraphicAssets\
ITIGraduationProject\ITIGraduationProject.Api\wwwroot\DesignSnapshots\